svg.ct-chart-bar, svg.ct-chart-line{
	overflow: visible;
}

.ct-line {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  
}

.ct-label.ct-label.ct-horizontal.ct-end {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-100%) rotate(-90deg);
  white-space:nowrap;
}


.ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: blue;
}

.ct-series-b .ct-bar {
  /* Colour of your bars */
  stroke: red;
}
